@model NSCMovie.Models.MovieTransactionViewModel
@{
    ViewData["Title"] = "Create";
}

<head>
    <style>
        body{
            background-color: #C0C0C0;
        }
        header{            
            color: #000000;            
        }        
        nav{
            background-color: #808080;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
            color: #000000;
        }                
    </style>
</head>
<body>
    <div>
        <h2 class="display-4">Transaction</h2>
        <form asp-action="Create" asp-route-id="@Model.Movie.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="TranksaksiMovie.TicketAmount" class="control-label"></label>
                <input asp-for="TranksaksiMovie.TicketAmount" class="form-control" />
                <span asp-validation-for="TranksaksiMovie.TicketAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TranksaksiMovie.Payment" class="control-label"></label>
                <input asp-for="TranksaksiMovie.Payment" class="form-control" />
                <span asp-validation-for="TranksaksiMovie.Payment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TranksaksiMovie.Time" class="control-label"></label>
                <input asp-for="TranksaksiMovie.Time" class="form-control" />
                <span asp-validation-for="TranksaksiMovie.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Buy" class="btn" />
            </div>
        </form>
    </div>
    <div>
        <a asp-controller="Movie" asp-action="Index">Back</a>
    </div>
</body>

