@model NSCMovie.Models.Movie
@{
    ViewData["Title"] = "Movie";
}

<h1>Ladies and Gentlemen this is our order view</h1>
<head>
    <style>
        body{
            background-color: #C0C0C0;
        }
        header{            
            color: #000000;            
        }        
        nav{
            background-color: #808080;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
            color: #000000;
        }                
    </style>
</head>
<body>
    <div class="text-center">
        <img src="https://cdn.cgv.id/uploads/movie/compressed/21012300.jpg" alt="Posters" width="200" height="300">
    </div>
    <h4>Items</h4>
    <ul>
    @foreach (var item in Model.TranksaksiMovies)
    {
        <li>@item.MovieId</li>
    }
    </ul>
</body>
