@{
    ViewData["Title"] = "Home Page";
}


<head>
    <style>    
        body{
            background-color: #C0C0C0;                
        }
        header{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
            color: #000000;            
        }
        nav{
            background-color: #808080;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
            color: #000000;
        }
    </style>
</head>
<body>
    <header>
        <div class="text-center">
            <h1 class="display-4"><b>NSCMovie</b></h1>        
            <h6>See your movie and buy the ticket in here</h6>    
        </div>
    </header>
</body>
