@{
    ViewData["Title"] = "Home Page";
}


<head>
    <style>    
        body{
            background-color: #C0C0C0;                
        }
        nav{
            color: #000000;
        }
    </style>
</head>
<body>
    <nav>
        <div class="text-center">
            <h1 class="display-4"><b>NSCMovie</b></h1>        
            <h6>See your movie and buy the ticket in here</h6>    
        </div>
    </nav>
</body>
